<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <img alt="AwesomeInc Logo" class="img-responsive logo" src="modules/core/client/img/brand/5across.png" />
    <h1>AwesomeVote</h1>
    <p>Welcome to AwesomeVote for 5across!</p>
    <hr>
    <h2>Current Open Poll:</h2>
    <br />
    <div class="row" ng-show="vm.polls.length === 0">
      <p>Bummer! No Polls Available.</p>
    </div>
    <p ng-show="vm.polls.length != 0" ng-repeat="poll in vm.polls | filter:query"><a class="btn btn-primary btn-lg" href="/vote/{{poll.shortcode}}">{{poll.question}}</a></p>

    <!-- TODO: 5across mode for only 5across events. For time sake it is just going to be deployed in 5across mode
    <div class="row">
      <p>Enter code:</p>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Code" id="code" ng-model="code" capitalize>
      </div>
    </div>
    <div class="row go-button">
      <p>
        <a class="btn btn-primary btn-lg" ng-click="go()">Go To Poll</a>
      </p>
    </div>-->

  </div>
</section>
